html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

header {
    width: 100%;
    background-color: #edf2ec;
}

.header {
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 42px;
    padding-bottom: 42px;

    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: 'Inika', serif;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    padding-top: 10px;
}

/* .navbar {
    width: 452px;
} */

.menu {
    width: 452px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.menu_item {
    text-decoration: none;
    color: #010201;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
}

.icon {
    display: none;
}


.menu_item:hover {
    color: #E06733;
    cursor: pointer;
    font-family: 'Inika', serif;
    font-size: 14px;
}



/**********MAIN CONTENT*****/

/****SECTION WELCOME*******/

.welcome {
    width: 100%;
    background: #EDF2EC;
}

.welcome_section {
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 62px;
    padding-bottom: 62px;
    display: flex;
    justify-content: space-between;
}
.leafs {
    display: inline-block;

}

.img_leafs {
    width: 449px;
    height: 407px;
}

.text_part_w {
    float: right;
    padding-top: 36px;
}

.title_text {
    width: 549px;
}
.title {
    font-family: 'Inter', sans-serif;
    color: #717171;
    font-size: 45px;
    margin-top: 0;
}
.word_spec {
    color: #499A18
}
.text {
    margin-top: 35px;
    width: 525px;
    height: 105px;
}
.main_text {
    font-family: 'Inter', sans-serif;
    color: #636060;
    font-size: 20px;
    line-height: 35px;
}
.button {
    margin-top: 45px;
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
}
.button_welcome {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.button_welcome:hover {
    background-color:#E06733;
    color: #FFFFFF;
    cursor: pointer;
}

/******SECTION ABOUT******/

.about {
    width: 100%;
    background: #FFFFFF;
}

.about_section {
    display: flex;
    justify-content: space-between;
    width: 1222px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 93px;
    padding-bottom: 89px;
}


.text_part {
    padding-top: 68px;
    display: inline-block;
    width: 605px;
}

.title_about {
    width: 463px;
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin-bottom: 40px;
}
.about_word {
    color: #E06733;
}
.main_text_about {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}


/*****SECTION SERVICE*****/

.service {
    width: 100%;
    background: #EDF2EC;
    padding-top: 40px;
    padding-bottom: 121px;
}

.service_section{
    width: 1222px;
    margin-left: auto;
    margin-right: auto;
}

.services_content {
    width: 1007px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
}
.service_title {
    display: inline-block;
    width: 306px;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #499A18;
}
.service_button {
    padding-top: 25px;
    width: 559px;
    /* height: 50px; */
    display: flex;
    float: right;
    justify-content: space-between;
}
.button_srv {
    width: 161px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
}

.button_srv:hover {
    background-color:#E06733;
    color: #FFFFFF;
    cursor: pointer;
}

.btn_service {
    font-family: 'Inika', serif;
    font-size: 20px;
    color: #E06733;
}

/********PICTURES******/

.service_pic {
    /* height: 955px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service_item1 {
    margin-bottom: 55px;
}

.caption {
    height: 100px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    margin-top: -5px;
}
.pic_title{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #E06733;
    margin: 10px
}
.pic_text {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #717171;
}



/******SECTION PRICE*****/

.price {
    width: 100%;
    background: #FFFFFF;

}

.prices_wrapper {
    display: flex;
    justify-content: space-between;
    width: 1222px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 125px;
}

.prices_text {
    display: inline-block;
}

.prices {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    color: #000000;
    padding-bottom: 60px;
}
.button_prices {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 332px;
    height: 282px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
}

.btn_prices {
    width: 250px;
    height: 50px;
    background: #EDF2EC;
    border-radius: 20px;
    border-color: #FFFFFF;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn_pic {
    vertical-align: middle;
    /* float: right; */
    margin-right: 40px;
    margin-top: 17px;
    width: 16px;
    height: 16px;
}

.btn_name {
    margin-top: 16px;
    margin-left: 40px;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}


.right_button {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
}

.text_price {
    width: 452px;
    height: 103px;
    margin-bottom: 38px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;    
    text-align: right;
    color: #000000;
}


.button_text {
    width: 162px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #E06733;
    border-radius: 5px;
    margin-bottom: 34px;
    margin-left: 290px;
}

.btn_text {
    text-decoration: none;
    font-family: 'Inika', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    background-color: #FFFFFF;
}

 /* .btn_text:hover {
    background-color:#E06733;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.button_text:hover {
    background-color: #E06733;
}  */

.leafs_s {
    width: 152px;
    margin-left: 290px;
}


/******SECTION CONTACTS*****/

.contacts {
    width: 100%;
    background: #EDF2EC;
}

.contacts_section {
    width: 1222px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 53px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.img_woman_class {
    display: block;
}

.title_cont {
    font-family: 'Inika', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding-top: 7px;
}

.button_cont {
    float: right;
    margin-top: 95px;
    margin-left: 45px;
    width: 450px;
    height: 50px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 0px;

    display: flex;
    justify-content: space-between;
}

.btn_cont {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    
    margin-left: 20px;
    margin-top: 5px;

}

.btn_pic_cont {
    margin-right: 35px;
    margin-top: 17px;
    width: 16px;
    height: 16px;
}


/******FOOTER*****/

footer {
    width: 100%;
    background: #FFFFFF;
}

.foot {
    display: flex;
    justify-content: space-between;
    width: 1222px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
}

.copyright {
    display: flex;
    width: 182px;
    justify-content: space-between;
}

div.copyright > span {
    margin-right: 13px;
}

.socials {
    text-align: center;
    width: 188px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.content {
    font-size: 32px;
}

ul.socials > li > a {
    text-decoration: none;
    color: #000000;
}



@media screen and (min-width: 768px) and (max-width: 1440px) {

    * {
        overflow-x: hidden;
    }
    /****HEADER*****/
    
    .header {
        width: 668px;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .menu {
        display: flex;
        width: 452px;
    }

    .menu_item {
        display: flex;
    }

    /**********MAIN CONTENT*****/

    /****SECTION WELCOME*******/

    .welcome_section {
        display: flex;
        width: 668px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
        padding-bottom: 70px;
        justify-content: space-between;
    }
    .leafs {
        display: inline-block;
        order: 2;
    }

    .img_leafs {
        height: 255px;
        width: 280px;
    }

    .text_part_w {
        float: right;
        padding-top: 0px;
        order: 1;
    }

    .title_text {
        width: 340px;
        height: 101px;
    }
    .title {
        font-size: 35px;
        line-height: 50px;
        margin-top: 0;
    }
    .text {
        margin-top: 30px;
        width: 340px;
        height: 105px;
    }
    .main_text {
        font-size: 16px;
        line-height: 25px;
    }
    .button {
        margin-top: 30px;
    }

    /******SECTION ABOUT******/

    .about_section {
        display: flex;
        justify-content: space-between;
        width: 668px;
        padding-top: 40px;
        padding-bottom: 95px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;

    }
    
    .text_part {
        padding-top: 0px;
        width: 668px;
        order: 1;
    }

    .main_text_about {
        text-align: left;
        padding-bottom: 70px;
        line-height: 30px;
    }
    
    .title_about {
        width: 423px;
        font-size: 35px;
        line-height: 46px;  
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 45px;
    }

    .img_plnt {
        height: 258px;
    }

    .houseplant {
        order: 2;
        margin-left: auto;
        margin-right: auto;
    }

   /*****SECTION SERVICE*****/

    .service {
        padding-top: 60px;
        padding-bottom: 70px;
    }

    .service_section{
        width: 668px;
    }

    .services_content {
        flex-direction: column;
        width: 559px;
        padding-bottom: 0px;
    }
    .service_title {
        font-size: 35px;
        line-height: 46px;
        padding-bottom: 40px;
    }
    .service_button {
        padding-bottom: 40px;
        padding-top: 0px;
    }

    /********PICTURES******/

    .service_pic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .service_item1, .service_item3 {
        margin-bottom: 38px;
    }

    .picture {
        width: 280px;
        height: 350px;
    }

    .pic_text {
        width: 201px;
        margin-left: auto;
        margin-right: auto;
    }

    /******SECTION PRICE*****/


    .prices_wrapper {
        width: 668px;
        padding-bottom: 88px;
    }

    .prices {
        font-size: 35px;
        padding-bottom: 50px;
    }

    .btn_name {
        overflow-y: hidden;
    }

    .right_button {
        padding-bottom: 0px;
        padding-top: 99px;

    }

    .text_price {
        width: 296px;
        margin-bottom: 0px;
        font-size: 25px;
        line-height: 35px;    
        text-align: right;
    }

    .button_text {
        margin-left: 134px;
    }

    .leafs_s {
        margin-left: 134px;
    }

    /******SECTION CONTACTS*****/

    .contacts_section {
        width: 450px;
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .title_cont {
        padding-top: 0px;
        order: 1;
        margin-bottom: 100px;
        text-align: center;
    }
    
    .button_cont {
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 250px;
        order: 2;
    }
    
    .img_woman {
        order: 3;
        text-align: center;
    }

    .img_woman_class {
        height: 249px;
        margin-left: auto;
        margin-right: auto;
    }


    /******FOOTER*****/

    .foot {
        flex-direction: column;
        width: 210px;
        padding-top: 33px;
        padding-bottom: 18px;

        font-size: 20px;
        line-height: 24px;
    }

    .copyright {
        display: flex;
        width: 210px;
        justify-content: space-around;
        text-align: center;
        margin-bottom: 16px;
    }

    div.copyright > span {
        margin-right: 0px;
    }

    .content {
        margin-top: 20px;
        font-size: 32px;
    }
    
    .socials {
        text-align: center;
        width: 210px;
        display: flex;
        justify-content: space-around;
    }


}


/*****MEDIA QUERY******/

@media screen and (min-width: 380px) and (max-width: 767px) {

    * {
        overflow-x: hidden;
    }

    /****HEADER****/

    .header {
        width: 330px;
        padding-top: 36px;
        padding-bottom: 36px;
        display: block;
        
    }

    .logo {
        padding-top: 0px;
        display: inline-block;
    }

    .topnav {
        overflow: visible;
        position: relative;
    }

    .menu {
        display: block;
        width: 320px;
    }
    
    .topnav a {
        color:#000000;
        text-decoration: none;
        font-size: 17px;
        display: block;
        text-align: center;
    }

    .topnav a.icon {
        background: #EDF2EC;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: -25px;
    }
    
    .topnav a:hover {
        background-color:  #EDF2EC;
        color: black;
        
    }

    .menu_item:hover {
        border: 2px solid #499A18;
        border-radius: 5px;
    }


    
    /**********MAIN CONTENT*****/

    /****SECTION WELCOME*******/

    .welcome_section {
        width: 330px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .leafs {
        display: none;
    }

    .text_part_w {
        float: none;
        padding-top: 0px;
    }

    .title_text {
        width: 330px;
        height: 72px;
    }
    .title {
        font-size: 25px;
        line-height: 35px;
 
    }
    .text {
        margin-top: 20px;
        width: 314px;
        height: 105px;
    }
    .main_text {
        font-size: 16px;
        line-height: 25px;
    }
    .button {
        margin-top: 20px;
        width: 100px;
        height: 34px;
    }
    .button_welcome {
        font-size: 10px;
        line-height: 20px;
    }

    /******SECTION ABOUT******/

    .about_section {
        display: flex;
        justify-content: space-between;
        width: 330px;
        padding-top: 30px;
        padding-bottom: 30px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;

    }
    
    .text_part {
        padding-top: 0px;
        width: 330px;
        order: 1;
    }

    .main_text_about {
        text-align: left;
        padding-bottom: 0px;
        font-size: 15px;
        line-height: 25px;
    }
    
    .title_about {
        width: 288px;
        font-size: 25px;
        line-height: 33px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .img_plnt {
        height: 147px;
    }

    .houseplant {
        order: 2;
        margin-left: auto;
        margin-right: auto;
    }


    /*****SECTION SERVICE*****/

    .service {
        padding-top: 30px;
        padding-bottom: 27px;
    }

    .service_section{
        width: 330px;
        
    }

    .services_content {
        width: 252px;
        padding-bottom: 35px;
        flex-direction: column;
    }
    .service_title {
        width: 187px;
        font-size: 25px;
        line-height: 33px;
    }
    .service_button {
        width: 252px;
        padding-top: 36px;
        display: flex;
        flex-wrap: wrap;
        overflow-y: hidden;
    }


    .button_srv {
        width: 121px;
        height: 35px;
        margin-bottom: 10px;
    }

    .btn_service {
        font-size: 15px;
        line-height: 20px;
    }


    /********PICTURES******/

    .service_pic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
    }

    .service_item1, .service_item2, .service_item3,
    .service_item4, .service_item5 {
        margin-bottom: 34px;
    }

    .picture {
        width: 279px;
        height: 350px;
    }

    .caption {
        height: 100px;
        border: 1px solid #E3E1D5;
        border-radius: 0px 0px 20px 20px;
        margin-top: -5px;
    }
    .pic_title{
        font-family: 'Inter', sans-serif;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        color: #E06733;
        margin: 5px
    }
    .pic_text {
        font-family: 'Inter', sans-serif;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        color: #717171;
        width: 201px;
        margin-left: auto;
        margin-right: auto;
    }

    /******SECTION PRICE*****/

    .prices_wrapper {
        display: flex;
        flex-direction: column;
        width: 230px;
        padding-top: 25px;
        padding-bottom: 30px;
    }
    .prices_text {
        display: flex;
        flex-direction: column;
    }
    .prices {
        font-size: 25px;
        padding-bottom: 40px;
        text-align: center;
    }
    .button_prices {
        width: 224px;
        height: 235px;
        margin-left: auto;
        margin-right: auto;
    }
    .btn_prices {
        width: 180px;
        height: 50px;
        
    } 
    .btn_name {
        font-size: 15px;
        margin-left: 30px;
    }   
    .right_button {
        padding-bottom: 0px;
        padding-top: 19px;


    }
    .text_price {
        width: 230px;
        margin-bottom: 0px;
        font-size: 20px;
        line-height: 35px;  
        text-align: center;
    }

    .button_text {
        width: 121px;
        height: 35px;
        margin-bottom: 0px;
        margin-left: 54px;
        margin-top: 0px;
    }

    .btn_text {
        font-size: 15px;
        line-height: 20px;
    }

    .leafs_s {
        display: none;
    }

    /******SECTION CONTACTS*****/

    .contacts_section {
        width: 300px;
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .title_cont {
        padding-top: 0px;
        order: 1;
        margin-bottom: 75px;
        text-align: center;

        font-size: 25px;
    }
    
    .button_cont {
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 132px;
        order: 2;
        width: 300px;
    }
    
    .btn_pic_cont {
        margin-right: 23px;
    }

    .img_woman {
        order: 3;
        text-align: center;
    }

    .img_woman_class {
        height: 124px;
        margin-left: auto;
        margin-right: auto;
    }

    /******FOOTER*****/

    .foot {
        flex-direction: column;
        width: 210px;
        padding-top: 22px;
        padding-bottom: 7px;

        font-size: 20px;
        line-height: 24px;
    }

    .copyright {
        display: flex;
        width: 210px;
        justify-content: space-around;
        text-align: center;
        margin-bottom: 16px;
    }

    div.copyright > span {
        margin-right: 0px;
    }

    .content {
        margin-top: 15px;
        font-size: 32px;
    }
    
    .socials {
        text-align: center;
        width: 210px;
        display: flex;
        justify-content: space-around;
    }


}

@media screen and (min-width: 320px) {

    * {
        overflow-x: hidden;
    }
}